$default-color: #aaaaaa;
$active-color: var(--color-active);
$hover-color: color-mix(in hsl, $active-color 90%, black);
$trans-props: .2s ease-in-out;

@mixin color-states($prop) {
  transition: all $trans-props;
  #{$prop}: $default-color;

  &:hover {
    #{$prop}: $hover-color;
    opacity: 1;
  }

  &.active {
    #{$prop}: $active-color;
  }
}